# Housing Market

### Introduction:

This time we will create our own dataset with fictional numbers to describe a house market. As we are going to create random data don't try to reason of the numbers.

### Step 1. Import the necessary libraries

In [2]:
import pandas as pd
import numpy as np

### Step 2. Create 3 differents Series, each of length 100, as follows: 
1. The first a random number from 1 to 4 
2. The second a random number from 1 to 3
3. The third a random number from 10,000 to 30,000

In [33]:
first = [np.random.randint(1, 5) for j in range(100)]
second = [np.random.randint(1, 3) for j in range(100)]
third = [np.random.randint(10000, 30001) for j in range(100)]

### Step 3. Let's create a DataFrame by joinning the Series by column

In [40]:
df = pd.DataFrame(zip(first, second, third))

### Step 4. Change the name of the columns to bedrs, bathrs, price_sqr_meter

In [42]:
df.rename(columns={0: 'bedrs', 1: 'bathrs', 2: 'price_sqr_meter'}, inplace=True)
df

    bedrs  bathrs  price_sqr_meter
0       4       1            12824
1       1       1            25401
2       1       2            22919
3       4       2            19417
4       1       2            16199
..    ...     ...              ...
95      1       2            15651
96      4       2            29667
97      3       2            18435
98      2       2            25164
99      2       1            27096

[100 rows x 3 columns]

### Step 5. Create a one column DataFrame with the values of the 3 Series and assign it to 'bigcolumn'

In [44]:
bigcolumn = pd.DataFrame(first+second+third)

### Step 6. Ops it seems it is going only until index 99. Is it true?

In [47]:
bigcolumn.index

RangeIndex(start=0, stop=300, step=1)

### Step 7. Reindex the DataFrame so it goes from 0 to 299

It already is from 0 to 299...