# Ex1 - Filtering and Sorting Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [6]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'

df = pd.read_csv(url, sep='\t')
df.head()

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98

In [7]:
df['item_price'] = df['item_price'].apply(lambda x: float(x[1:-1]))

In [9]:
df.dtypes

order_id                int64
quantity                int64
item_name              object
choice_description     object
item_price            float64
dtype: object

### Step 4. How many products cost more than $10.00?

In [20]:
df['unit_price'] = df.item_price/df.quantity
items = df.groupby('item_name')['unit_price'].mean()
(items>10).sum()

10

### Step 5. What is the price of each item? 
###### print a data frame with only two columns item_name and item_price

In [31]:
prices = df.groupby('item_name').mean()
prices = prices.loc[:, ['unit_price']]

### Step 6. Sort by the name of the item

In [32]:
prices.sort_values('item_name')

                                       unit_price
item_name
6 Pack Soft Drink                        6.490000
Barbacoa Bowl                           10.187273
Barbacoa Burrito                         9.832418
Barbacoa Crispy Tacos                   10.087273
Barbacoa Salad Bowl                     10.640000
Barbacoa Soft Tacos                     10.018400
Bottled Water                            1.431667
Bowl                                     7.400000
Burrito                                  7.400000
Canned Soda                              1.090000
Canned Soft Drink                        1.250000
Carnitas Bowl                           10.315588
Carnitas Burrito                         9.975932
Carnitas Crispy Tacos                    9.852857
Carnitas Salad                           8.990000
Carnitas Salad Bowl                     11.056667
Carnitas Soft Tacos                      9.398500
Chicken Bowl                             9.657727
Chicken Burrito                          9.475949
Chicken Crispy Tacos                     9.492340
Chicken Salad                            9.010000
Chicken Salad Bowl                       9.909091
Chicken Soft Tacos                       9.240261
Chips                                    2.149242
Chips and Fresh Tomato Salsa             2.748727
Chips and Guacamole                      4.345616
Chips and Mild Fresh Tomato Salsa        3.000000
Chips and Roasted Chili Corn Salsa       2.950000
Chips and Roasted Chili-Corn Salsa       2.390000
Chips and Tomatillo Green Chili Salsa    2.950000
Chips and Tomatillo Red Chili Salsa      2.950000
Chips and Tomatillo-Green Chili Salsa    2.390000
Chips and Tomatillo-Red Chili Salsa      2.390000
Crispy Tacos                             7.400000
Izze                                     3.390000
Nantucket Nectar                         3.390000
Salad                                    7.400000
Side of Chips                            1.690000
Steak Bowl                              10.232559
Steak Burrito                            9.993424
Steak Crispy Tacos                       9.952857
Steak Salad                              8.915000
Steak Salad Bowl                        11.027931
Steak Soft Tacos                         9.578182
Veggie Bowl                             10.011882
Veggie Burrito                           9.602842
Veggie Crispy Tacos                      8.490000
Veggie Salad                             8.490000
Veggie Salad Bowl                       10.138889
Veggie Soft Tacos                        9.352857

### Step 7. What was the quantity of the most expensive item ordered?

In [35]:
most_expensive = df.item_price.max()
df[df['item_price'] == most_expensive]['quantity']

3598    15
Name: quantity, dtype: int64

### Step 8. How many times were a Veggie Salad Bowl ordered?

In [38]:
df[df['item_name'] == 'Veggie Salad Bowl']['quantity'].sum()

18

### Step 9. How many times people orderd more than one Canned Soda?

In [41]:
((df['item_name']=='Canned Soda') & (df['quantity']>1)).sum()

20